.centered-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.centered-form {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-check-input {
    margin-top: 10px;
}

.form-check-label {
    margin-left: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.custom-check {
    margin-top: -10px;
    display: flex;
    align-items: center;
}

.custom-check .form-check-input {
    margin-top: 0;
}

.custom-check .form-check-label {
    margin-left: 10px;
}
