
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.picture-habit {
    flex-shrink: 0;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 150px;
}
.habit-details {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.habit-details p {
    margin: 5px 0;
    font-size: 25px;
}

.border {
   padding: 20px;
   margin: 10px;
}

