{% extends 'base.html' %}

{% block title %}Habit List{% endblock %}

{% block content %}
{% load static %}
<style>
    .profile-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
    }
    .habit-card {
        margin-bottom: 20px;
    }
    .card-habit-card {
        border: 1px solid #000000;
        padding: 15px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .card-title {
        font-size: 1.25rem;
    }
    .card-text, p {
        font-size: 0.9rem;
        margin-bottom: 5px;
    }
    .btn-detail, .btn-delete, .btn-primary-filter, .btn-clear-filter {
        display: inline-block;
        padding: 10px 20px;
        margin-top: 10px;
        font-size: 0.9rem;
        border: none;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
    }
    .btn-detail, .btn-primary-filter, .btn-clear-filter {
        color: #fff;
        background-color: #007bff;
    }
    .btn-detail:hover, .btn-primary-filter:hover, .btn-clear-filter:hover {
        background-color: #0056b3;
    }
    .btn-delete {
        background-color: #dc3545;
        color: white;
    }
    .btn-delete:hover {
        background-color: #c82333;
    }
</style>
<div class="container">
    <h1 class="my-4 text-center" style="font-family: 'Arial', sans-serif; font-weight: bold; color: #333; text-shadow: 1px 1px 1px #ccc;">{{ title }}</h1>
    <form method="get" class="mb-4" id="filter-form">
        <div class="form-group">
            <label for="name">Filter by name:</label>
            <input type="text" id="name" name="name" class="form-control" value="{{ request.GET.name }}">
        </div>
        <div class="form-group">
            <label for="start_date">Filter by start date (yyyy-mm-dd):</label>
            <input type="date" id="start_date" name="start_date" class="form-control" value="{{ request.GET.start_date }}">
        </div>
        <button type="submit" class="btn btn-primary-filter">Filter</button>
        <button type="button" class="btn btn-clear-filter" onclick="clearFilters()">Clear Filter</button>
    </form>
    <div class="row">
        {% for habit in object_list %}
        <div class="col-12 mb-4">
            <div class="card-habit-card">
                <img src="{% if habit.habit_picture %}{{ habit.habit_picture.url }}{% else %}{% static 'images/habit_default.jpg' %}{% endif %}" class="profile-img" alt="{{ habit.name }}'s profile picture">
                <div class="card-body">
                    <h5 class="card-title">{{ habit.name }}</h5>
                    <p class="card-text">{{ habit.description|truncatechars:40 }}</p>
                    <p><strong>Start Date:</strong> {{ habit.start_date }}</p>
                    <p><strong>End Date:</strong> {{ habit.end_date }}</p>
                    <p><strong>Current Streak:</strong> {{ habit.current_streak }}</p>
                    <p><strong>Completed:</strong> {{ habit.is_completed|yesno:"Yes,No" }}</p>
                    <p><strong>User:</strong> {{ habit.user.username }}</p>
                    <a href="{% url 'habit_detail' habit.id %}" class="btn-detail">Detail</a>
                    <a href="{% url 'habit_update' habit.pk %}" class="btn-detail">Edit</a>
                    <a href="{% url 'habit_delete' habit.pk %}" class="btn-delete">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function clearFilters() {
        document.getElementById('name').value = '';
        document.getElementById('start_date').value = '';

        document.getElementById('filter-form').submit();
    }
</script>
{% endblock %}
