{% extends "base.html" %}

{% block content %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">
{% endblock %}

<section class="centered-section">
   <h1 class="my-4 text-center" style="font-family: 'Arial', sans-serif; font-weight: bold; color: #333; text-shadow: 1px 1px 1px #ccc;">Add User</h1>
    <p>Insert your details below:</p>
    <form class="needs-validation centered-form" novalidate action="{% url 'add_user' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add User</button>
    </form>
</section>

{% endblock %}
