{% extends "base.html" %}

{% block title %} Delete User {% endblock %}

{% block content %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/delete.css' %}">
{% endblock %}


<section class="confirmation-section">
    <div class="container">
        <p class="confirmation-text">Are you sure you want to delete <strong>"{{ object }}"</strong>?</p>
        <form method="post" class="text-center">{% csrf_token %}
            {{ form }}
            <input type="submit" value="Confirm" class="btn-confirm">
        </form>
    </div>
</section>

{% endblock %}
