{% extends "base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_list.css' %}">
{% endblock %}

<div class="container">
    <h1 class="my-4 text-center">{{ title }}</h1>

    <!-- Filter Form -->
    <form method="get" action="{% url 'user_list' %}">
        <div class="mb-3">
            <label for="level" class="form-label">Minimum Level:</label>
            <input type="number" id="level" name="level" class="form-control" value="{{ level }}">
        </div>
        <div class="mb-3">
            <label for="experience" class="form-label">Minimum Experience:</label>
            <input type="number" id="experience" name="experience" class="form-control" value="{{ experience }}">
        </div>
        <button type="submit" class="btn btn-primary-apply">Apply Filters</button>
        <a href="{% url 'user_list' %}" class="btn btn-primary-apply">Clear Filters</a>
    </form>

    <!-- User List -->
    <ol class="list-group list-group-numbered">
        {% for user in object_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">{{ user.username }}</div>
                <p>{{ user.email }}</p>
                <p>Experience: {{ user.experience }}</p>
                <p>Level: {{ user.level }}</p>
                <div class="btn-container">
                    <a href="{% url 'user_detail' user.id %}" class="btn btn-primary">Detail</a>
                    <a href="{% url 'user_update' user.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'user_delete' user.id %}" class="btn btn-delete">Delete</a>
                </div>
            </div>
            {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="{{ user.username }}'s profile picture" class="profile-img">
            {% else %}
                <img src="{% static 'images/default_user.png' %}" alt="Default profile picture" class="profile-img">
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</div>
{% endblock %}