{% extends 'base.html' %}

{% block title %} Update User {% endblock %}

{% block content %}
{% load static %}

<style>
    .centered-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
    }

    .centered-form {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .centered-form .form-group {
        margin-bottom: 1rem;
    }

    .centered-form label {
        display: block;
        margin-bottom: .5rem;
        font-weight: bold;
    }

    .centered-form input,
    .centered-form textarea,
    .centered-form select {
        width: 100%;
        padding: .5rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn-primary {
        display: block;
        margin: 0 auto;
    }

    .text-center {
        text-align: center;
    }
</style>

<section class="centered-section">
    <div class="container">
        <h1 class="my-4 text-center" style="font-family: 'Arial', sans-serif; font-weight: bold; color: #333; text-shadow: 1px 1px 1px #ccc;">Edit User</h1>
        <form class="needs-validation centered-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</section>

{% endblock %}
