{% extends 'base.html' %}

{% block title %}User Detail{% endblock %}

{% block content %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_detail.css' %}">
{% endblock %}

<div class="container">
    <div class="profile-picture">
        <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'images/default_user.png' %}{% endif %}" alt="{{ user.username }}'s profile picture">
    </div>
    <div class="user-details">
        <div class="border">
            <h1>{{ user.username }}</h1>
            <hr style="height: 4px; border: none; background-color: #000; width: 100%;">
            <p><strong>Email:</strong>  {{ user.email }}</p>
            <p><strong>Experience:</strong>  {{ user.experience }}</p>
            <p><strong>Level:</strong>  {{ user.level }}</p>
            <p><strong>Joined:</strong>  {{ user.created_at }}</p>
            <p><strong>Last Updated:</strong>  {{ user.updated_at }}</p>
        </div>
    </div>
</div>
{% endblock %}
