<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reminder List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="container">
        <h1 class="my-4 text-center">Reminder List</h1>
        <table class="table table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Time</th>
                    <th>Frequency</th>
                    <th>Habit</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for reminder in reminders %}
                <tr>
                    <td>{{ reminder.time }}</td>
                    <td>{{ reminder.frequency }}</td>
                    <td>{{ reminder.habit.name }}</td>
                    <td>{{ reminder.message }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
